<ion-header dir="rtl">
  <ion-navbar color="gren-2" style="text-align: center;">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu" style="color: white; font-size: 30px"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >الحالة</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!hidd">
    <div class="loding">
      <ion-icon name="aperture" [ngClass]="{lofinglogo :isnow == 'no' , lofinglogoss :isnow == 'yes'}"></ion-icon>
      <h1 [ngClass]="{nowhid :isnow == 'yes' , nohid :isnow == 'no'}">جاري التحميل ...</h1>
    </div>
  </div>

  
  <div *ngIf="hidd">
    <div>
    <ion-card class="card" style="border-radius: 26px;">
      <div style='height: 120px; background: linear-gradient( to bottom right, #2be888b8 , #50c5b0);'>
      </div>
      <div class="image">
          <img *ngIf="data.status == 'قطة'" src="../../assets/imgs/cat-info.png" style="display: block; width: 70px;margin: 0 auto;height: 70px; padding: 0px 4px 3px 0px;" >
          <img *ngIf="data.status == 'كلب'" src="../../assets/imgs/dog-info.png" style="display: block; width: 70px;margin: 0 auto;height: 70px; padding: 0px 4px 3px 0px;" >
          <ion-icon  *ngIf="data.status == 'حيوان اخر'" name="ios-leaf" icon-only style="font-size: 57px;width: 70px;margin: 3px auto;padding: 0px 0px 0px 8px;height: 70px;color: #5ddeab;"></ion-icon>
      </div>
      
      <ion-card-content>
          <ion-note style="float: left;">
            {{data.date}} 
            </ion-note>
        <div style="font-size:18px; margin:  20px 0px 11px 0px;">
          <div class="mypsd">
            <span start>
              <ion-icon name="md-person" icon-only style="color:#2be888b8; margin:2px"></ion-icon>
              الاسم : <span>{{data.name}}</span>
            </span>
          </div>
          <div class="mypsd">
            <span start>
              <ion-icon name="pulse" icon-only style="color:#2be888b8; margin:2px"></ion-icon>
              الحالة : <span>{{data.status}} بحاجة الى مساعدة</span>
            </span>
          </div>
          <div class="mypsd">
            <span start>
              <ion-icon name="md-compass" icon-only style="color:#5fe1ac; margin:2px"></ion-icon>
              المنطقة : <span>{{data.zone}}</span>
            </span>
          </div>
          <div class="mypsd">
            <span start>
              <ion-icon name="md-phone-portrait" icon-only style="color:#5fe1ac;margin: 0px 5px 0px 5px"></ion-icon>
              رقم الهاتف : <span>{{data.phone}}</span>
            </span>
          </div>
          <div class="mypsd">
            <span start>
              <ion-icon name="md-clipboard" icon-only style="color:#5fe1ac;margin: 0px 4px 0px 5px;"></ion-icon>
              ملاحضة :
            </span>
            <span>{{data.note}}</span>
          </div>

        </div>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button ion-button (click)="approv(status=true)" block style="padding:25px; width: 125px; display: block; margin: 0 auto; background: linear-gradient( to bottom right, #2be888b8 , #50c5b0); border-radius:7%">
                  <span>
                    <ion-icon style="font-size: 22px;" class="mypadding" name="md-checkmark-circle-outline"></ion-icon>
                    <br>
                    <span style="font-size:20px;">موافقة</span>
                  </span>
                </button>
              </ion-col>
              <ion-col col-6>
                <button ion-button (click)="approv(status=false)" block style="padding:25px; width: 125px; display: block; margin: 0 auto; background: linear-gradient( to bottom right, #ef9595 , #f15050); border-radius:7% " >
                  <span>
                    <ion-icon style="font-size: 22px;" class="mypadding" name="md-close-circle"></ion-icon>
                    <br>
                    <span style="font-size:20px;">حذف</span>
                  </span>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>


</ion-content>